header {
  background: url('Images/wood.jpg');
  height: 5vh;
  margin-top: -15px;
  margin-bottom: 10px;
  background-position: center;
  background-size: 170vh 14vh;
  background-repeat: repeat;
}
header h1 {
  padding-top: 10px;
  color: white;
  text-align: center;
}
.projects-container {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  height: 877px;
  justify-content: center;
  background-image: url('Images/Corkboard.jpg');
  background-repeat: repeat;
  image-rendering: 'high-quality';
  overflow: auto;
}
article img {
  height: 45%;
  width: auto;
}
article h3 {
  text-align: center;
}
@media screen and (max-width: 900px) {
  .projects-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: 877px;
    justify-content: center;
    background-image: url('Images/Corkboard.jpg');
    background-repeat: repeat;
    image-rendering: 'high-quality';
    overflow: auto;
  }
}
