.flex-container {
  display: flex;
  flex-direction: row;
}
#Title {
  order: 1;
  width: 500px;
  margin: auto;
  border: 3px solid #73ad21;
}
#About_Me {
  order: 2;
  width: 500px;
  margin: auto;
  border: 3px solid #73ad21;
}
#Details {
  order: 4;
  width: 500px;
  margin: auto;
  border: 3px solid #73ad21;
}
#ProfilePic {
  order: 3;
  width: 100px;
  height: 100px;
  margin: auto;
}
/* p {
  font-family: 'Yellowtail';
  font-size: 22px;
} */
