#About_Me {
  order: 2;
  width: 245px;
  text-align: justify;
}
#Details {
  order: 4;
  width: 250px;
  border-radius: 4%;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  -ms-border-radius: 4%;
  -o-border-radius: 4%;
}
#ProfilePic {
  order: 3;
  /* width: 100px; */
  margin: auto;
}
#Title {
  textalign: "center";
}

.Information_Box {
  margin: 20px;
  background-color: darkgrey;
  border-radius: 4%;
  border: 3px solid black;
  width: 250px;
  height: 350px;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  -ms-border-radius: 4%;
  -o-border-radius: 4%;
}
