/*Base*/

.profile-section {
  background-color: #cfe2e2;
  height: 90vh;
  text-align: center;
  border: 65px inset darkslategrey;
}
.container-article {
  /* align-content: center; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: hidden;
  height: auto;
}
.photo-article {
}
#profile-pic {
  order: 3;
  /* width: 15vw; */
  background-color: darkgrey;
  border: 3px solid black;
  height: 44vh;
}

#title {
  text-align: 'center';
}

.info-article {
  width: 30%; /*Don't use percentages*/
  padding: 10px;
  background-color: darkgrey;
  border: 3px solid black;
  height: 42vh;
  overflow: hidden;
  margin-inline: 4.1vw;
}
ul {
  list-style-type: none;
}
@media screen and (max-width: 1400px) {
  .container-article {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto;
  }
  .info-article {
    width: auto;
    padding: 1px;
    height: auto;
    overflow: auto;
    margin: 0.5%;
    /* margin-inline: 4.1vw; */
  }
  div > img {
    display: inline;
  }
  /* .info-article {
    border: 1px solid red;
  } */
  #profile-pic {
    /* margin-left: 38vw; */
    height: 30vh;
    width: 15vw;
  }
}
@media screen and (max-width: 600px) {
  .info-article {
    /* width: 100%; Don't use percentages */
    overflow: hidden;
    margin: 2%;
  }
  .profile-section {
    height: auto;
  }
  #profile-pic {
    margin-left: 2%;
    height: 80%;
    width: 93.4%;
  }

  h2 {
    font-size: small;
  }
  h3 {
    font-size: small;
  }
  p {
    font-size: small;
  }
}
