.contact-section {
  background-color: #cfe2e2;
  height: auto;
  width: 100%;
  padding: 0.1px;
}
.link-container {
  display: flex;
  height: auto;
}
.button-link {
  background-color: rgb(200, 209, 188);
  border: none;
  color: black;
  padding: 1% 1%;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  flex: auto;
  width: auto;
  transition: 0.3s;
}

.button-link:hover {
  background-color: #697069;
  color: silver;
  border: solid rgb(65, 182, 182) 2px;
}
