.bigblue {
  color: DodgerBlue;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.links {
  margin: 2;
  width: 'auto';
  border: 2px solid silver;
  flex: 'auto';
  text-align: 'center';
}
