.Experience {
  background-color: white;
  text-align: center;
  /* // width: 'auto', */
  height: 86.4vh;
  border: 65px inset darkred;
}
.CareerContainer {
  /* border: 2px solid teal; */
  overflow: auto;
}
.Experience-UpperContainer {
  display: inline-flex;
  flex-direction: row;
}
.Experience-UpperContainer-list {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}
.Experience-MidContainer {
  display: inline-flex;
  flex-direction: row;
}

.CenterContainer {
  display: inline-flex;
  flex-direction: row;
  /* border: 2px solid rgb(196, 86, 23); */
}
.InfoContainer {
  display: flex;
  justify-content: center;
  height: 64vh;
  /* overflow: hidden; */
}
.ParentContainer {
  border-style: solid;
  width: 50%;
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
  border-radius: 0.9%;
  overflow: auto;
}
.ParentContainer:hover {
  transform: scaleY(1.2);
  /* height: auto; */
  position:relative;
  z-index: 1;
}
.CareerDetails {
  border: 2px solid rgb(56, 54, 52);
  margin: 1%;
  overflow: auto;
}
.SkillsList {
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
}
p {
  text-align: left;
}
li {
  text-align: left;
  flex-basis: 50%; /* or width: 50% */
}

#test {
  width: 400px;
  height: 400px;
  background: hotpink;
  border-radius: 16px;
  touch-action: none;
  user-select: none;
  cursor: grab;
}
@media screen and (max-width: 600px) {
  .Experience {
    background-color: rgb(255, 255, 255);
    height: auto;
    border: 45px inset darkred;
  }
  .CareerContainer {
    width: 100%; /*Don't use percentages*/
    overflow: hidden;
  }
  .CenterContainer {
    height: auto;
  }
  .CareerDetails {
    width: 100%; /*Don't use percentages*/
  }

  .InfoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    overflow: hidden;
    height: auto;
  }
  .ParentContainer {
    border-style: solid;
    width: 100%;
    /* padding: 10px; */
    margin: 0px;
    background-color: lightgrey;
    border-radius: 0.9%;
    overflow: auto;
  }

  h2 {
    font-size: small;
  }
  h3 {
    font-size: small;
  }
  p {
    font-size: small;
  }
}
